{% extends 'AppBundle:properties:property_view.html.twig' %}

{% block content %}
    <div class="ui stacked segment form">
        {{ form_start(form) }}

        {{ form_row(form.name) }} <br>

        <button class="ui button icon blue" type="submit">
            <i class="icon save"></i>
            &nbsp;
            išsaugoti
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}
